@charset "utf-8";

@import url('lib/animated.css');
@import url('lib/daterangepicker.css');
@import url('lib/jquery-ui.min.css');
@import url('lib/swiper.css');
@import url('lib/quill.snow.css');
@import url('lib/semantic.min.css');


/* ==============================
 * header
 * ============================== */
#headerWrap {position:fixed; top:0; left:0; z-index:50; width:100%; height:60px; padding-left:88px; border-bottom:5px solid #085ec1; background:#fff;}
#headerWrap > h1 {height:55px; padding:18px 0 0 29px; border-left:1px solid #e8e9ee;}
#headerWrap > h1 a {display:inline-block; font-size:0;}


/* ==============================
 * footer
 * ============================== */


/* ==============================
 * common
 * ============================== */

/* input */
.inputBox {position:relative; display:inline-block; width:200px;}
.inputBox.full {display:block; width:auto; max-width:320px;}
.inputBox + .inputBox {margin-left:7px;}
.inputBox .inp {display:block; width:100%; height:28px; padding:0 28px 0 10px; border:1px solid #b4bcc9; font-size:13px; transition:all .5s ease; outline:none; border-radius:5px;}
.inputBox .inp:focus {border:1px solid #78abea;}
.inputBox .inp.Readonly {border:1px solid #b4bcc9; background:#e4e4e6; pointer-events:none;}
.inputBox .inp.Warning {border:1px solid #ff597a; color:#ff0033;}
.inputBox .inp.Mandate {background:#eff5f8; color:#1f63cd;}
.inputBox .inpReset {position:absolute; top:7px; right:7px; width:14px; height:14px; background:url(../images/common/sprite_common.png) no-repeat -20px -40px;}
.inputBox .inpReset {display:none;}
.inputBox + .btn {margin-left:7px;}

.inputBox.count {width:68px; min-width:auto;}
.inputBox.count > .inp.Edit_Count {padding:0 24px 0 10px;}
.inputBox.count > button {position:absolute; right:5px; width:12px; height:6px; font-size:0; background:url(../images/common/sprite_common.png) no-repeat;}
.inputBox.count > button > span {position:relative; top:0; left:0; display:block; overflow:hidden; text-indent:-999px;}
.inputBox.count > .plus {top:5px; background-position:-20px -60px;}
.inputBox.count > .minus {bottom:5px; background-position:0 -60px;}

.inputBox.amount {width:125px; vertical-align:top; font-size:0;}
.inputBox.amount:before {content:''; position:absolute; top:3px; left:45px; height:calc(100% - 6px); border-right:1px solid #cecfd3;}
.inputBox.amount:after {content:''; display:block; clear:both;}
.inputBox.amount > .inp {display:inline-block; min-width:auto;}
.inputBox.amount > .inp:nth-child(1) {width:45px; padding:0 5px; text-align:center; border-radius:5px 0 0 5px;  border-right:none;}
.inputBox.amount > .inp:nth-child(2) {width:80px; padding:0 5px; text-align:right; border-radius:0 5px 5px 0; border-left:none;}

.inputBox.Edit_User {}
.inputBox.Edit_User > .thumb {position:absolute; top:4px; left:5px; width:20px; height:20px; display:flex; align-items: center; vertical-align:middle;}
.inputBox.Edit_User > .thumb:before {content:''; flex:1;}
.inputBox.Edit_User > .thumb:after {content:''; flex:1;}
.inputBox.Edit_User > .thumb > img {max-width:100%; max-height:100%; border-radius:50%;}
.inputBox.Edit_User > .inp {padding:0 28px 0 30px;}

.inputBox.Edit_Organization {}
.inputBox.Edit_Organization > .thumb {position:absolute; top:4px; left:5px; width:20px; height:20px; display:flex; align-items: center; vertical-align:middle;}
.inputBox.Edit_Organization > .thumb:before {content:''; flex:1;}
.inputBox.Edit_Organization > .thumb:after {content:''; flex:1;}
.inputBox.Edit_Organization > .thumb > img {max-width:100%; max-height:100%; border-radius:5px;}
.inputBox.Edit_Organization > .inp {padding:0 28px 0 30px;}

.inputBox.Edit_date {vertical-align:top;}
.inputBox.Edit_date > .inp {background:url(../images/common/icon/icon_calendar.png) no-repeat right 4px top 4px;}
.inputBox.Edit_date > .inp.Readonly {background:#e4e4e6 url(../images/common/icon/icon_calendar.png) no-repeat right 4px top 4px;}

.inputBox.Edit_date.single {width:110px;}
.inputBox.Edit_date.single + .timeSelect {margin-left:7px;}

.inputBox.Edit_Time {width:110px;}
.inputBox.Edit_Time.readonly {width:83px;}
.inputBox.Edit_Time.readonly > .inp {padding:0 0 0 0; text-align:center;}


.inputBox.inpNone {border-radius:0;}
.inputBox.inpNone > .inp {padding:0; border:none; font-weight:600; font-size:18px; color:#3e60ee;}

.inputBox.Percent {}
.inputBox.Percent > .inp {padding:0 65px 0 10px; text-align:right; ime-mode:disabled}
.inputBox.Percent > .inpReset {right:46px;}
.inputBox.Percent:before {content:''; position:absolute; top:8px; left:160px; width:1px; border-bottom:12px solid #666;}
.inputBox.Percent:after {content:'%'; position:absolute; top:0; left:160px; width:40px; height:28px; line-height:28px; font-size:13px; text-align:center; font-family:'Open Sans', sans-serif;}


.inputBox + .alertMessage {margin-top:7px;}


/* input file images upload */
.fileBox {position:relative; display:inline-block;}
.fileBox > label {display:inline-block; padding:0 17px; height:28px; font-weight:600; font-size:13px; line-height:28px; text-align:center; border-radius:5px; vertical-align:top; border:1px solid #808080; background:#fff;}
.fileBox > input[type="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}


/* tooltip */
.tooltip {position:relative; display:inline-block; font-size:0; width:19px; height:19px;}
.tooltip:before {content:''; position:absolute; top:0; left:0; width:19px; height:19px; background:url(../images/common/sprite_common.png) no-repeat -126px -160px;}
.tooltip > .tips {position:absolute; top:0px; left:28px; z-index:1; display:none; padding:6px 10px 7px 10px; font-size:11px; white-space:nowrap; border:1px solid #bfc2c6; background:#ebecef; border-radius:5px;}
.tooltip > .tips strong {display:block; font-weight:600;}
.tooltip > .tips:before {content:''; position:absolute; top:5px; left:-5px; border-right:5px solid #bfc2c6; border-top:4px solid transparent; border-bottom:4px solid transparent;}
.tooltip > .tips:after {content:''; position:absolute; top:5px; left:-3px; border-right:5px solid #ebecef; border-top:4px solid transparent; border-bottom:4px solid transparent;}
.tooltip:hover > .tips {display:block;}
.inputBox + .tooltip {top:5px; margin:0 0 0 5px;}


/* textarea */
.textareaDiv {font-size:14px; max-width:320px;}
.textareaDiv > .textarea {display:block; width:100%; height:100px; padding:10px; border-radius:5px; border:1px solid #b4bcc9; background:#fff; outline:none;}
.textareaDiv > .textarea:focus {border:1px solid #78abea;}
.textareaDiv > .byte {text-align:right;}


/* autocomplete case */
.inputBox.schType {display:block; width:auto; max-width:320px; font-size:0;}
.inputBox.schType > .inner {position:relative; display:inline-block;}
.inputBox.schType > .inner .easy-autocomplete {display:inline-block; font-size:0; width:115px;}
.inputBox.schType > .inner .easy-autocomplete .inp {padding:0 10px 0 10px;}
.inputBox.schType > .inner .easy-autocomplete .inp {border-radius:0 5px 5px 0;}
.inputBox.schType > .inner .easy-autocomplete:first-child .inp {border-radius:5px 0 0 5px;}
.inputBox.schType > .inner .easy-autocomplete + .easy-autocomplete .inp {border-left:none;}
.inputBox.schType.ty1 > .inner .easy-autocomplete {width:220px;}
.flexContent .inputBox.schType.ty1 > .inner .easy-autocomplete {width:208px;}
.inputBox.schType.ty1 > .inner .easy-autocomplete:first-child {width:100px;}
.inputBox.schType.ty2 > .inner .easy-autocomplete {width:150px;}
.inputBox.schType.ty2 > .inner .easy-autocomplete:first-child {width:100px;}
.inputBox.schType.keyword > .inner .easy-autocomplete {width:200px;}
.inputBox.schType.keyword > .inner .easy-autocomplete .inp {border-radius:5px;}
.inputBox.full.schType.ty2 > .inner .easy-autocomplete:first-child {width:100px;}
.inputBox.full.schType.ty2 > .inner .easy-autocomplete {width:calc(100% - 100px);}
.inputBox.full.schType > .inner {display:block;}


/* easy-autocomplete */
.easy-autocomplete-container {position:absolute; left:0; z-index:1; width:100%;}
.easy-autocomplete-container ul {position:relative; border-radius:5px;}
.easy-autocomplete-container ul.on {border:1px solid #b4bcc9; overflow:hidden;}
.easy-autocomplete-container li {position:relative; padding:0 7px; font-size:13px; background:#fff;}
.easy-autocomplete-container li.selected, .easy-autocomplete-container li:hover {background:#4c7bec;}
.easy-autocomplete-container li.selected > div, .easy-autocomplete-container li:hover > div {color:#fff;}
.easy-autocomplete-container li.selected > div  span, .easy-autocomplete-container li:hover > div span {color:#fff;}
.easy-autocomplete-container li.selected > div:before, .easy-autocomplete-container li:hover > div:before {content:none;}
.easy-autocomplete-container li + li {}
.easy-autocomplete-container li > div {color:#4e4f62;}
.easy-autocomplete-container li > div span {color:#4e4f62;}
.easy-autocomplete-container li + li > div {position:relative;}
.easy-autocomplete-container li + li > div:before {content:''; position:absolute; top:0; left:0; width:100%; border-bottom:1px solid #dcdcdc;}
.easy-autocomplete-container li:after {content:''; position:absolute; top:0px; left:98px; height:100%; border-right:1px solid #dcdcdc;}
.easy-autocomplete-container li > div {position:relative; padding:11px 0px 11px 105px; overflow:hidden; white-space:nowrap; line-height:18px;}
.easy-autocomplete-container li > div b {font-weight:600;}
.easy-autocomplete-container li span {position:absolute; top:0px; left:0; width:81px; padding:0px 0 0px 3px; margin:0 10px 0 0; overflow:hidden; line-height:40px;}
.inputBox.schType.keyword .easy-autocomplete-container li:after {content:none;}
.inputBox.schType.keyword .easy-autocomplete-container li > div {position:relative; padding:5px 0px 5px 5px; overflow:hidden; white-space:nowrap;}


/* dropdown */
.ui.dropdown.country {width:200px;}
.ui.dropdown.Mandate {border:1px solid #78abea; background:#eff5f8; color:#1f63cd;}
.ui.dropdown.disabled {background:#e4e4e6; opacity:1;}
.inputBox.zipCode {width:104px; min-width:auto;}
.ui.dropdown + .inputBox.zipCode {width:calc(100% - 247px); max-width:200px; vertical-align:top; margin-left:7px;}
.ui.dropdown > .text {font-size:14px;}
.ui.search.dropdown.active > input.search, .ui.search.dropdown.visible>input.search {height:100%;}
.ui.search.selection.dropdown > input.search {height:100%; font-size:14px; line-height:28px;}

/* dropdown multiple */
.ui.multiple.dropdown {height:auto; min-height:28px; padding:4px 34px 0 10px; font-size:0; border:1px solid #b4bcc9;}
.ui.multiple.dropdown.Mandate {border:1px solid #78abea; background:#eff5f8; color:#1f63cd;}
.ui.multiple.dropdown > .text {height:18px; margin:0;}
.ui.multiple.dropdown:not(.button)>.default.text {line-height:18px;}
.ui.multiple.dropdown > .label {position:relative; font-size:12px; margin:0 5px 4px 0; padding:0 22px 0 10px; background:#3689f0; color:#fff; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; border:none; border-radius:5px; box-shadow:none;}
.ui.multiple.dropdown > .label .delete.icon {position:absolute; top:6px; right:10px; display:inline-block; width:8px; height:8px;}
.ui.multiple.dropdown > .label .delete.icon:before {content:''; position:absolute; top:3px; left:-1px; width:10px; border-bottom:1px solid #fff; transform: rotate(45deg);}
.ui.multiple.dropdown > .label .delete.icon:after {content:''; position:absolute; top:3px; right:-1px; width:10px; border-bottom:1px solid #fff; transform: rotate(135deg);}


/* auto Complete combobox */
body .ui-tooltip {display:none !important;}
.comboBox {position:relative; display:inline-block; width:200px; vertical-align:top;}
.comboBox.small {width:110px;}
.comboBox.full {display:block; width:auto;}
.comboBox.Mandate .ui-widget.ui-widget-content {background:#eff5f8;}
.ui-widget.ui-widget-content {border:1px solid #b4bcc9; background:#fff; border-radius:5px; overflow:auto; max-height:200px;}
.ui-widget.ui-widget-content:focus {/* outline:0; */}

.custom-combobox {position:relative; display:block; font-size:14px;}
.custom-combobox-toggle {position:absolute; top:1px; right:0px; padding:0; width:34px; height:26px; border:none; background:transparent;}
.custom-combobox-toggle:hover, .custom-combobox-toggle:visited, .custom-combobox-toggle:focus, .custom-combobox-toggle:active {background:transparent !important; border:none !important; outline:none;}
.custom-combobox-input {display:block; width:100%; height:28px; margin:0; padding:5px 34px 5px 10px; border-radius:5px; color:#1f63cd;}
.comboBox + .inputBox {margin-left:7px;}
.comboBox .ui-button .ui-icon {position:absolute; top:50%; left:50%; margin-top:-3px; margin-left:-6px; width:12px; height:6px; background:url(../images/common/sprite_common.png) no-repeat 0 -80px;}
.ui.dropdown > .dropdown.icon:before {content:''; position:absolute; top:0; left:0; width:12px; height:6px; background:url(../images/common/sprite_common.png) no-repeat 0 -80px;}
.ui-menu .ui-menu-item {padding:0 7px; list-style-image:none;}
.ui-menu .ui-menu-item:hover {background:#4c7bec;}
.ui-menu .ui-menu-item:hover .ui-menu-item-wrapper:before {content:none;}
.ui-menu .ui-menu-item-wrapper {position:relative; padding:11px 5px 11px 5px; font-size:13px; color:#4e4f62; line-height:18px; overflow:hidden;}
.ui-menu .ui-menu-item-wrapper:hover {color:#fff;}
.ui-menu .ui-menu-item-wrapper.ui-state-active {margin:0; background:transparent; border:none;}
.ui-menu-item + .ui-menu-item .ui-menu-item-wrapper:before {content:''; position:absolute; top:0; left:0; width:100%; border-bottom:1px solid #dcdcdc;}


/* semantic ui reset flag selectbox */
.ui.search.dropdown .menu {margin-top:1px; border:1px solid #b4bcc9; border-top-width:1px !important; border-radius:5px; max-height:200px; box-shadow:none;}
.ui.selection.dropdown .menu>.item {position:relative; padding:11px 7px 11px 7px; line-height:18px; font-size:13px; border:none;}
.ui.selection.dropdown .menu>.item:after {content:''; position:absolute; top:0; left:7px; width:calc(100% - 14px); border-bottom:1px solid #dcdcdc;}
.ui.selection.dropdown .menu>.item:hover {color:#fff; background:#4c7bec;}
.ui.selection.dropdown .menu>.item:hover:after {content:none;}


/* timeselect */
.timeSelect {display:inline-block; vertical-align:top; width:110px;}
.timeSelect > .txt {position:relative; height:28px; padding:0 25px 0 10px; line-height:26px; border-radius:5px; border:1px solid #dcdcdc; cursor:pointer;}
.timeSelect > .txt:after {content:''; position:absolute; top:4px; right:4px; width:18px; height:18px; background:url(../images/common/sprite_common.png) no-repeat -126px -60px;}
.tsDropBox {position:absolute; width:310px; display:none; z-index:2; font-size:0;}
.tsDropBox > .ui.selection.dropdown {display:inline-block; float:left; width:60px;}
.tsDropBox > .ui.selection.dropdown:nth-chlid(3) {width:70px;}


/* checkbox */
.checkbox {display:inline-block; position:relative; padding:0 0 0 20px;}
.checkbox input { position:absolute; top:-20px; left:0; z-index:1; opacity:0;}
.checkbox label {display:block; font-weight:400; font-size:12px; color:#4e4f62; cursor:pointer; line-height:18px;}
.checkbox label:before {content:''; position:absolute; top:2px; left:0; width:14px; height:14px; border:1px solid #b4bcc9; box-sizing:border-box; border-radius:3px;}
.checkbox input:checked + label:after {content:''; display:block; position:absolute; top:5px; left:3px; width:13px; height:9px; background:url('../images/common/sprite_common.png') no-repeat -126px 0;}

.switchChk {position:relative; display:inline-block; height:28px;vertical-align:top; overflow:hidden;}
.switchChk > input {position:absolute; top:-20px; left:0;}
.switchChk > label {position:relative; display:block; padding:0 0 0 70px; font-size:14px; line-height:28px;}
.switchChk > label:before {content:''; position:absolute; top:6px; left:8px; z-index:2; width:16px; height:16px; border-radius:50%; background:#d9d9d9; transition:.45s;}
.switchChk > label:after {content:''; position:absolute; top:0; left:0; width:58px; height:28px; border-radius:45px 45px 45px 45px; border:2px solid #d9d9d9; box-sizing:border-box; transition:.45s;}
.switchChk > input:checked + label {}
.switchChk > input:checked + label:before {left:34px; background:#fff;}
.switchChk > input:checked + label:after {border:none; background:#0078d7;}
.switchChk > input:checked + label .txt1 {display:none;}
.switchChk > input:checked + label .txt2 {display:inline-block;}
.switchChk > label .txt2 {display:none;}


/* btn */
.btn {position:relative; display:inline-block; padding:0 17px; height:28px; font-weight:600; font-size:13px; color:#fff; line-height:28px; text-align:center; border-radius:5px; vertical-align:top; border:1px solid #abb8c5; background:#abb8c5;}
.btn.basic {color:#fff; background:#0b61ca; border:1px solid #0b61ca;}
.btn.schBtn {position:relative; width:28px; height:28px; padding:0; background:#eceefb; overflow:hidden; border:none; border-radius:5px; text-indent:-999px;}
.btn.schBtn:before {content:''; position:absolute; top:5px; left:6px; width:16px; height:17px; background:url(../images/common/sprite_common.png) no-repeat -126px -140px;}
a.btn {text-decoration:none;}
.imgRemove {display:inline-block; width:14px; height:14px; font-size:0; text-indent:-999px; overflow:hidden; background:url(../images/common/sprite_common.png) no-repeat -20px -40px;}
.btn.addBtn {width:31px; height:30px; padding:0; text-indent:-999px; border:1px solid #dcdcdc; overflow:hidden;}
.btn.addBtn:before {content:''; position:absolute; top:5px; left:4px; width:23px; height:19px; background:url(../images/common/sprite_common.png) no-repeat -156px 0px;}
.btn.removeBtn {width:31px; height:30px; padding:0; text-indent:-999px; border:1px solid #dcdcdc; overflow:hidden;}
.btn.removeBtn:before {content:''; position:absolute; top:5px; left:4px; width:23px; height:19px; background:url(../images/common/sprite_common.png) no-repeat -156px -30px;}
.btn.close {display:inline-block; width:12px; height:12px; padding:0; font-size:0; overflow:hidden; text-indent:-999px; background:url(../images/common/sprite_common.png) no-repeat 0 -100px; border:none; line-height:normal; border-radius:0;}

/* menuAll */
.menuAll {position:fixed; top:0; left:0; z-index:101; width:88px; height:55px;}
.menuAll > .allBtn {position:absolute; top:10px; left:26px; z-index:5; display:inline-block; width:36px; height:36px; overflow:hidden;}
.menuAll > .allBtn > span {position:absolute; top:50%; left:5px; margin-top:-1px; display:block; width:25px; height:3px; background:#a2a7b2; text-indent:-999px; transition:all 300ms ease-in-out;}
.menuAll > .allBtn > span:before {content:''; position:absolute; top:-10px; left:0; width:100%; height:100%; background-color:#a2a7b2; transition:all 300ms ease-in-out;}
.menuAll > .allBtn > span:after {content:''; position:absolute; top:10px; left:0; width:12px; height:100%; background-color:#a2a7b2; transition:all 300ms ease-in-out;}


/* tablist */
.tabWrap {padding:30px 150px 0 0; height:90px; background:#f5f6fa; font-size:0; overflow:hidden;}
.tabList {font-size:0; overflow:hidden;}
.tabList > li {position:relative; float:left; width:190px; background:#e9f0fb;}
.tabList > li + li {}
.tabList > li + li > a:after {content:''; position:absolute; top:12px; left:-1px; width:1px; border-bottom:35px solid #c3ccda;}
.tabList > li:last-child {border-radius:0 10px 0 0;}
.tabList > li > a {position:relative; z-index:1; display:block; height:60px; padding:8px 0 0 20px; text-decoration:none;}
.tabList > li > a.on {z-index:2; background:#fff; border-radius:10px 10px 0 0;}
.tabList > li > a.on:before {content:''; position:absolute; top:0; left:-10px; z-index:1; width:18px; height:62px; background:url(../images/common/sprite_common.png) no-repeat -42px 0;}
.tabList > li > a.on:after {content:''; position:absolute; top:0; left:auto; right:-10px; z-index:1; width:18px; height:62px; background:url(../images/common/sprite_common.png) no-repeat -60px 0;}
.tabList > li > a span {display:block; font-weight:600; font-size:14px; color:#405b85;}
.tabList > li > a span + span {font-weight:400; font-size:17px;}
.tabList > li > a.on span {color:#2346d6;}
.tabList > li.home {width:77px; text-indent:-9999px; border-radius:10px 0 0 0;}
.tabList > li.home.single {border-radius:10px 10px 0 0;}
.tabList > li.home:before {content:''; position:absolute; top:22px; left:27px; width:22px; height:21px; background:url(../images/common/sprite_common.png) no-repeat -40px -72px;}
.tabList > li.home .tabClose {right:16px;}
.tabList > li .tabClose {position:absolute; top:12px; right:20px; z-index:2; width:14px; height:14px; overflow:hidden; text-indent:-9999px; background:url(../images/common/sprite_common.png) no-repeat 0 -40px;}
.tabList > li > a.on + .tabClose {background-position:-20px -40px;}

.tabListBox {position:absolute; top:20px; right:0; width:150px; height:62px; border:1px solid blue; background:#fff;}
.tabListBox li {}
.tabListBox li a {display:block; font-size:14px; color:#333;}


/* gnb */
nav {position:fixed; top:60px; left:0; z-index:45; width:285px; height:calc(100% - 60px); padding-top:21px; background:#fff; border-right:1px solid #e1e0e8; overflow:hidden;}
nav {box-shadow: 0px 5px 20px 0px rgba(31, 54, 95, 0.15);}

.gnb {position:relative; width:285px; height:100%; padding:0 0 50px 0; overflow:auto; border-left:1px solid #e1e0e8;}
.gnbList > li {position:relative;}
.gnbList > li .gnbTit {position:relative; padding:0 80px 0 62px; line-height:36px; font-weight:600; font-size:16px; color:#3c3c3c; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; cursor:pointer;}
.gnbList > li .gnbTit:before {content:''; position:absolute; top:5px; left:20px; width:25px; height:25px; background:url(../images/common/sprite_gnb.png) no-repeat;}
.gnbList > li .gnbTit.ty1:before {background-position:0 0;}
.gnbList > li .gnbTit.ty2:before {background-position:0 -25px;}
.gnbList > li .gnbTit.ty3:before {background-position:0 -50px;}
.gnbList > li .gnbTit.ty4:before {background-position:0 -75px;}
.gnbList > li .gnbTit.ty5:before {background-position:0 -100px;}
.gnbList > li .gnbTit.ty6:before {background-position:0 -125px;}
.gnbList > li .gnbTit.ty7:before {background-position:0 -150px;}
.gnbList > li .gnbTit.on {color:#2144d2;}
.gnbList > li .gnbTit.on.ty1:before {background-position:-25px 0;}
.gnbList > li .gnbTit.on.ty2:before {background-position:-25px -25px;}
.gnbList > li .gnbTit.on.ty3:before {background-position:-25px -50px;}
.gnbList > li .gnbTit.on.ty4:before {background-position:-25px -75px;}
.gnbList > li .gnbTit.on.ty5:before {background-position:-25px -100px;}
.gnbList > li .gnbTit.on.ty6:before {background-position:-25px -125px;}
.gnbList > li .gnbTit.on.ty7:before {background-position:-25px -150px;}
.gnbList > li .gnbTit:after {content:''; position:absolute; top:16px; right:21px; width:12px; height:6px; background:url(../images/common/sprite_common.png) no-repeat 0 -60px;}
.gnbList > li .gnbTit.on:after {background-position:-20px -60px;}
.gnbList > li .clip {position:absolute; top:9px; right:46px; width:25px; height:21px; background:url(../images/common/sprite_common.png) -78px -25px;}
.gnbList > li .clip.on {background-position:-78px 0px;}
.gnbList > li .dept {display:none;}
.gnbList > li .dept > li > a {position:relative; display:block; padding:0 22px 0 62px; line-height:35px; font-weight:600; font-size:14px; color:#9899a9; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-decoration:none;}
.gnbList > li .dept > li:hover > a {background:#ebeffb; color:#687df2;}


/* editor */
.editorWrap {}
.editorWrap > #editor {height:200px;}


.filter {display:inline-block;}

.ibsheetDiv {min-height:200px; border:1px solid #d9d9d9;}
