@charset "utf-8";


/* ==============================
 * common
 * ============================== */

.wrapper {width:100%; height:100%; min-height:100%;}
.wrapper > form {height:100%;}
#container {position:relative; /* height:100%; */ padding-top:60px; background:#f5f6fa;}
#container > .inner {/* display:flex; */ /* height:100%; */}

/* .content {flex:1; position:relative; height:auto; min-height:100%; padding:0 30px 30px 30px;} */
.content {position:relative; padding:0 30px 30px 315px; transition:.45s;}
.content.on {padding:0 30px 30px 30px;}
.content:before {content:''; position:absolute; top:0; left:-1px; height:100%;}


/* login */
.flexWrap{position:relative; display:flex; height:100%; align-items:center;}
.flexWrap:before {content:''; flex:0; text-align:center;}
.flexWrap > form {display:inline-block; margin:0 auto;}
.flexLayer {display:inline-block; margin:0 auto;}
.flexLayer > .inner { padding:10px; }
.flexLayer > h1 {text-align:center;}
.flexLayer > h1 + .inner {margin-top:10px; padding:20px 20px; min-height:280px;}


.flexLayer .flexContent {margin-top:10px; padding:20px 20px; border:1px solid #d9d9d9; font-size:0;}
.flexLayer .flexContent > .inner {display:inline-block; width:518px; min-height:260px; vertical-align:top;}
.flexLayer .flexContent > .inner > .inpInner {padding:0 50px;}
.flexLayer .flexContent > .inner + .inner {padding-top:66px; padding-left:20px; margin-left:20px; border-left:1px solid #d9d9d9; box-sizing:content-box;}

h2.tit {position:relative; padding:7px 0; font-weight:700; font-size:24px; color:#181818; line-height:32px;}
h2.tit.thumb {padding-left:50px;}
h2.tit.thumb > img {position:absolute; top:0; left:0; max-width:41px; max-height:41px;}
h2.tit + .inpItem {margin-top:20px;}
h2.tit + h3.tit {margin-top:20px;}

h3.tit {padding-bottom:10px; font-weight:600; font-size:10px; color:#181818; border-bottom:1px solid #d9d9d9;}
h3.tit + .inpItem {margin-top:20px;}
h3.tit + .txtBox {margin-top:20px;}
h3.tit + .itemList2 {margin-top:20px;}
h3.tit + .inpItem2 {margin-top:20px;}


.inpInner .nTxt {font-size:14px; margin-top:20px;}
.inpInner .nTxt + .inpItem {margin-top:20px;}
.inpInner .nTxt + .list1 {margin-top:20px;}
.inpInner > .itemList1:nth-of-type(1) {margin-top:20px;}

.idArea {margin-top:20px;}
.idArea .inputBox {max-width:none;}
.loginCheck {margin-top:15px;}
.joinBtn {margin-top:25px; overflow:hidden;}
.joinBtn > a {font-size:14px;}
.joinBtn > a + .btns {margin-top:10px;}
.joinBtn > .txt {flex:1; font-size:14px;}
.joinBtn .btns {flex:1; text-align:right; padding-left:10px; /* float:right; */}
.joinBtn .btns .btn + .btn {margin-left:7px;}

.link {width:560px; margin:0 auto; margin-top:15px; overflow:hidden; text-align:center;}
.link > a {font-size:12px;}
.link > a:nth-child(1) {float:left;}
.link > a:nth-child(2) {}
.link > a:nth-child(3) {float:right;}


/* inpItem */
.inpItem {position:relative;}
.inpItem:after {content:''; display:block; clear:both;}
.inpItem + .inpItem {margin-top:15px;}
.inpItem + .txtBox {margin-top:10px;}
.inpItem + h3.tit {margin-top:20px;}
.inpItem > dt {width:180px; float:left; padding:6px 10px 0 0; font-size:14px;}
.inpItem > dt + dd {padding:0 0 0 180px;}
.inpItem > dd {font-size:0;}
.inpItem > dd .totalVal {display:inline-block; width:68px; padding:0 24px 0 0; font-size:14px; line-height:28px; text-align:right;}
.inpItem > dd .totalVal + .inputBox {margin-left:7px;}
.inpItem > dd .inputBox.count .inp {text-align:right;}

.inpItem2 {}
.inpItem2 > dt {}
.inpItem2 > dt + dd {margin-top:10px;}
.inpItem2 > dd {font-size:0;}
.inpItem2 > dd .ele + .ele {margin-top:10px;}
.inpItem2 + .inpItem2 {margin-top:15px;}


/* txtBox */
.txtBox {max-height:200px; font-size:14px; overflow:auto;}
.txtBox > .inner {}
.txtBox + .inpItem {margin-top:15px;}
.txtBox + .agreeChk {margin-top:15px;}
.txtBox + h3.tit {margin-top:20px;}


/* agreeChk */
.agreeChk {position:relative;}
.agreeChk:after { content:''; display:block; clear:both;}
.agreeChk > .txt {display:inline-block; padding:4px 0 0 0; font-size:14px;}
.agreeChk > .checkbox {float:right;}


/* list */
.optionList {}
.optionList > li {text-align:left;}
.optionList > li + li {margin-top:10px;}

.list1 {}
.list1 > li {position:relative; padding-left:10px; font-size:14px;}
.list1 > li + li {margin-top:7px;}
.list1 > li:before {content:''; position:absolute; top:9px; left:0; width:3px; border-bottom:3px solid #d9d9d9; border-radius:50%;}


/* Layout */
.layout {position:relative; /* height:calc(100% - 90px); */ padding:20px 20px 20px 20px; background:#fff url(../images/common/bg_layout.png) no-repeat left top; border-radius:0 10px 10px 10px;}

/*
.Layout_List {min-height:calc(100% - 120px); padding:20px 20px 20px 20px; background:#fff; border-radius:8px;}
.Layout_Sidebar {height:calc(100% - 82px); padding:20px 5px 20px 5px}
*/
.Layout_Sidebar > .inner {display:flex;}
.Layout_Sidebar > .inner.saveAdd {min-height:calc(100% - 126px);}
.Layout_Sidebar > .inner .lsCont {}
.Layout_Sidebar > .inner .lsCont:not(.fix) {flex:1;}
.Layout_Sidebar > .inner .lsCont + .lsCont {display:inline-block; width:370px; margin-left:10px;}
.Layout_Sidebar > .inner + .saveDiv {position:fixed; right:5px; bottom:5px; z-index:100;}

.serviceCode {padding:10px 0;}
.serviceCode > .srvNum {display:inline-block; width:200px; font-weight:600; font-size:18px; line-height:28px; vertical-align:top;}
.serviceCode > .actChk {display:inline-block; vertical-align:top;}

.schOptionGroup {position:relative; padding:10px 48px 0px 10px; background:#f7fcff; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
.schOptionGroup > .btn {position:absolute; top:10px; right:10px;}
.schOptionGroup + h3.tit {margin-top:15px;}

.itemList1 {position:relative;}
.itemList1:after {content:''; display:block; clear:both;}
.itemList1 > li {display:inline-block; width:370px; margin-right:10px; margin-bottom:10px; font-size:0; vertical-align:top;}
.itemList1 > li .inpItem {}
.itemList1 > li .inpItem > dt {width:170px;}
.itemList1 > li .inpItem > dt + dd {padding:0 0 0 170px;}

.itemList2 {position:relative;}
.itemList2:after {content:''; display:block; clear:both;}
.itemList2 > li {display:inline-block; width:580px; margin-bottom:10px; font-size:0; vertical-align:top;}
.itemList2 > li:nth-child(2n + 1) {margin-right:10px;}
.itemList2 > li .inpItem {}
.itemList2 > li .inpItem > dt {width:220px;}
.itemList2 > li .inpItem > dt + dd {padding:0 0 0 220px;}

.ibsheepTop {position:relative; margin-top:10px;}
.ibsheepTop:after {content:''; display:block; clear:both;}
.ibsheepTop > .filter {}
.ibsheepTop > .btn {float:right;}
.ibsheepTop + .ibsheetDiv {margin-top:10px;}


/* etc */
.alertMessage {position:relative; padding-left:25px; font-size:12px;}
.alertMessage:before {content:''; position:absolute; top:0px; left:0; width:18px; height:16px; background:url(../images/common/sprite_common.png) no-repeat -126px -100px;}

.lineBasic {position:relative; height:40px;}
.lineBasic:after {content:''; position:absolute; top:19px; left:0; width:100%; border-bottom:1px solid #d9d9d9;}