@@include('include/head.html')
<body>
	<div class="wrapper">
		<!-- 헤더영역 -->
		@@include('include/header.html')
		<!-- //헤더영역 -->

<style type="text/css">
.layer {}

.fix2 {position:fixed; top:700px; left:100px; z-index:111; min-width:100px; text-align:center; height:50px; line-height:50px; border:1px solid #333; background:#fff; padding:0 10px;}

.box {margin-top:50px; width:200px;}
</style>


<div class="fix2">탭 추가</div>

		<section id="container">
			<div class="inner">
				@@include('include/nav.html')
				<div class="content">
					@@include('include/tabWrap.html')

					<div class="layout Layout_List">
						<h2 class="tit" id="i10701-serviceListLb">Service List</h2>
						<div class="schOptionGroup">
							<ul class="itemList1">
								<li>
									<dl class="inpItem">
										<dt id="">Keyword</dt>
										<dd>
											<div class="inputBox schType keyword">
												<div class="inner">
													<input type="text" name="" class="inp autoSch keyword name" id="i10003-company" placeholder="Type Company Name">
													<button type="button" class="inpReset"></button>
												</div>
											</div>
										</dd>
									</dl>
								</li>
								<li>
									<dl class="inpItem">
										<dt>B/L Date</dt>
										<dd>
											@@include('include/daterangepicker.html',{
												"id": ""
											})
										</dd>
									</dl>
								</li>
								<li>
									<dl class="inpItem">
										<dt>Item Description</dt>
										<dd>
											@@include('include/combobox.html',{
												"id": "",
												"class": "",
												"placeholder": "Select a Type"
											})
										</dd>
									</dl>
								</li>
								<li>
									<dl class="inpItem">
										<dt>Item Description</dt>
										<dd>
											@@include('include/combobox.html',{
												"id": "",
												"class": "",
												"placeholder": "Select a Type"
											})
										</dd>
									</dl>
								</li>
							</ul>
							<button type="button" class="btn schBtn" id="i10701_search">Search</button>
						</div>
						<h3 class="tit" id="i10701-servicesLb">Services</h3>
						<div class="ibsheepTop">
							@@include('include/sheet_filter.html',{
								"id": "i10701-filterStatus"
							})
							<button type="button" class="btn" id="i10701-addService">Add Service</button>
						</div>
						<div class="ibsheetDiv">
							ibsheet
						</div>

						<div style="height:200px; background:green"></div>

					</div>
				</div>
			</div>
		</section>
	</div>
<script type="text/javascript">
$(function(){
	var xxx = '<li><a href="#"><span>House B/L 9</span><span>OBK-000468</span></a><button type="button" class="tabClose" onclick="TabRemove(this)">Close</button></li>';
	$('.fix2').click(function(){
		$(xxx).appendTo('.tabList');
		TablistSort();
	});

});

function TabRemove(e) {
	$(e).closest('li').remove();
	TablistSort();
}
</script>
</body>
</html>
