@@include('include/head.html')
<body>
	<div class="wrapper">
		<!-- 헤더영역 -->
		@@include('include/header.html')
		<!-- //헤더영역 -->

<script type="text/javascript">

$(function(){
	var xxx = '<li><a href="#"><span>House B/L 9</span><span>OBK-000468</span></a><button class="tabClose">Close</button></li>';
	$('.fix2').click(function(){
		$(xxx).appendTo('.tabList');
		TablistSort();
	});
});

</script>

<style type="text/css">
.layer {/* display:flex; */ /* height:calc(100% - 89px); */}
.layer .double {/* flex:1; */ /* display:inline-block; */ font-size:0; height:100%; background:#ddd;}
.layer .double > .ele {display:inline-block; font-size:0; min-width:300px; max-width:500px; height:100%;}
.layer .double > .ele:first-child {background:blue;}
.layer .opt {/* display:inline-block; */ width:300px; height:100%; background:#333;}

.fix {position:fixed; top:500px; left:100px; z-index:111; min-width:100px; text-align:center; height:50px; line-height:50px; border:1px solid #333; background:#fff; padding:0 10px;}
.fix2 {position:fixed; top:700px; left:100px; z-index:111; min-width:100px; text-align:center; height:50px; line-height:50px; border:1px solid #333; background:#fff; padding:0 10px;}

.box {margin-top:50px; width:200px;}
</style>


<div class="fix"></div>
<div class="fix2"></div>

		<section id="container">
			<div class="inner">
				@@include('include/nav.html')
				<div class="content">
					<div class="tabWrap">
						<ul class="tabList">
							<li class="home single">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#" class="on">
									<span>House B/L 1</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
							<li>
								<a href="#">
									<span>House B/L 2</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
							<li>
								<a href="#">
									<span>House B/L 3</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
							<li>
								<a href="#">
									<span>House B/L 4</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
						</ul>
						<div class="tabListBox">
							<ul>
							</ul>
						</div>
					</div>

<style>
	

	.autoCombo {}
	.autoCombo > .ele {}
	.autoCombo > .ele + .ele {margin-top:10px;}

</style>


					<div class="layer">

						<div class="autoCombo">
							<div class="ele">
								<select class="comboBox">
									<option value="Share">Share</option>
									<option value="ActionScript">ActionScript</option>
									<option value="AppleScript">AppleScript</option>
									<option value="Asp">Asp</option>
									<option value="BASIC">BASIC</option>
									<option value="C">C</option>
								</select>
							</div>
						</div>


						<div class="box">
						</div>



<script type="text/javascript">
$(function(){
    


	
});
</script>

												
					</div>

				</div>
			</div>
		</section>
	</div>
</body>
</html>
